<div class="footer">
    <div class="row row-cols-4 row-cols-lg-2 row-cols-sm-1">
        <div class="footer__text">
            <h3 class="footer__title">Thông tin cửa hàng</h3>
            <a href="" class="footer__link">Giới thiệu về của hàng</a>
            <a href="" class="footer__link">Các doanh nghiệp liên kết</a>
            <a href="" class="footer__link">Thành tựu của cửa hàng </a>
            <a href="" class="footer__link"> Tin tức </a>
            <a href="" class="footer__link"> Liên hệ </a>
            <a href="" class="footer__link">Các sản phẩm </a>
        </div>
        <div class="footer__text">
            <h3 class="footer__title">Hỗ trợ khách hàng </h3>
            <a href="" class="footer__link">Trang chủ </a>
            <a href="" class="footer__link"> Giới thiệu</a>
            <a href="" class="footer__link"> Doanh mục </a>
            <a href="" class="footer__link"> Tin tức </a>
            <a href="" class="footer__link"> Liên hệ </a>
            <a href="" class="footer__link"> Hướng dẫn sử dung</a>

            
        </div>
        <div class="footer__text">
            <h3 class="footer__title">Thông tin các sản phẩm</h3>
            <a href="" class="footer__link">Nơi sản suất </a>
            <a href="" class="footer__link"> Giấy chứng nhận</a>
            <a href="" class="footer__link">Giới thiệu về sản phẩm</a>
            <a href="" class="footer__link">Công dụng </a>
        
        </div>
        <div class="footer__text">
            <h3 class="footer__title">Liên hệ </h3>
            <a href="" class="footer__link footer__img">
                <img src="./asset/img/dienthoai.webp" alt="" class="footer__icon">
                Hotline:012345678 </a>
            <a href="" class="footer__link footer__img"> 
                <img src="./asset/img/zalo.jpg" alt="" class="footer__icon">
                Zalo</a>
            <a href="" class="footer__link footer__img">
                <img src="../asset/img/fb.png" alt="" class="footer__icon">
                Facebook </a>
            <a href="" class="footer__link footer__img">
                <img src="./asset/img/dienthoai.webp" alt="" class="footer__icon">
                 Email:NguyenvanA@gmail.com</a>
    
        </div>
    </div>
    <div class="row row-cols-3 row-cols-lg-2 row-cols-sm-1">
        <div class="footer__text">
            <h3 class="footer__title">Chứng chỉ trang web </h3>
            <div class="footer__img2">
                <img src="./asset/img/bocongthuong.avif" alt="" class="footer__img-2">
                <img src="./asset/img/ggnew.avif" alt="" class="footer__img-2">
                <img src="./asset/img/vnnic.avif" alt="" class="footer__img-2">
            </div>
            <div class="footer__img2">
                <img src="./asset/img/alibaba_cloud.avif" alt="" class="footer__img-2">
                <img src="./asset/img/HostAdvice.com_Logo.svg.avif" alt="" class="footer__img-2">
                <img src="./asset/img/Frame-13403.avif" alt="" class="footer__img-2">
            </div>

        </div>
        <div class="footer__text">
            <h3 class="footer__title">Hỗ trợ thanh toán </h3>
            <div class="footer__img2">
                <img src="./asset/img/momo.avif" alt="" class="footer__img-2">
                <img src="./asset/img/paypal.avif" alt="" class="footer__img-2">
                <img src="./asset/img/card.avif" alt="" class="footer__img-2">
                <img src="./asset/img/visa.avif" alt="" class="footer__img-2">
                <img src="./asset/img/card.avif" alt="" class="footer__img-2">
                <img src="./asset/img/visa.avif" alt="" class="footer__img-2">
            </div>
            
        </div>
        <div class="footer__text">
            <h3 class="footer__title">Kết Nối Với Chúng Tôi</h3>
            <div class="footer__network">
               <a href="">
                <img src="../asset/img/fb.avif" alt="" class="footer__network-img">
                Facebook
               </a>
               <a href="">
                <img src="./asset/img/zalo.avif" alt="" class="footer__network-img">
                Zalo
               </a>
               <a href="">
                <img src="./asset/img/linkedin.webp" alt="" class="footer__network-img">
                Linkedin
               </a>
               <a href="">
                <img src="./asset/img/instagram.avif" alt="" class="footer__network-img">
                Instagram
               </a>
               <a href="">
                <img src="../asset/img/github.webp" alt="" class="footer__network-img">
                Github
               </a>
               <a href="">
                <img src="../asset/img/telegram.avif" alt="" class="footer__network-img">
                Telegram
               </a>
               <a href="">
                <img src="../asset/img/youtube.webp" alt="" class="footer__network-img">
                Youtube
               </a>
               <a href="">
                <img src="../asset/img/twitter.webp" alt="" class="footer__network-img">
                Twitter
               </a>
            </div>
        </div>
        
    </div>
    <div class="footer__license">
        <p class="footer__license-text">
            Bản quyền thuộc về: Phungbaduc@gmail.com
        </p>
    </div>
</div>