<div  sclass="dropdown js-dropdown">
    <div class="dropdow__inner">
        <img src="./asset/icon/dropdown.svg" alt="" class="dropdow__inner__img">
        <div class="top-menu">
            <div class="top-menu__main">
                <!-- menu column -->
                <div class="menu-column">
                    <div class="menu-column__icon">
                        <img src="./asset/img/icon1.svg" alt="" class="menu-column__icon1">

                    </div>
                    <div class="menu-column__content">
                        <h2 class="menu-column__heading">All Departments</h2>
                        
                        <ul class="menu-column__list">
                            <li class="menu-column__item">
                                <a href="#!" class="menu-column__link">Savings & Featured Shops</a>
                                <!-- sub menu  -->
                                <div class="sub-menu">
                                    <!-- sub menu-column1  -->
                                   
                                    <div class="sub-menu__column">
                                        <!-- menucolum 1.1 -->
                                       
                                        <div class="menu-column">
                                            <div class="menu-column__icon">
                                                <img src="./asset/img/icon2.svg" alt="" class="menu-column__icon1">
        
                                            </div>
                                            <div class="menu-column__content">
                                                <h2 class="menu-column__heading">All Departments</h2>
                                                
                                                <ul class="menu-column__list">
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Savings & Featured Shops</a>
                                                
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Electronics</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Clothing, Shoes & Accessories</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Home, Furniture & Appliances</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Savings & Featured Shops</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Electronics</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Clothing, Shoes & Accessories</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Home, Furniture & Appliances</a>
                                                    </li>
                                                </ul>
                                                
                                            </div>
                                        </div>
                                        <div class="menu-column">
                                            <div class="menu-column__icon">
                                                <img src="./asset/img/icon2.svg" alt="" class="menu-column__icon1">
        
                                            </div>
                                            <div class="menu-column__content">
                                                <h2 class="menu-column__heading">All Departments</h2>
                                                
                                                <ul class="menu-column__list">
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Savings & Featured Shops</a>
                                                
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Electronics</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Clothing, Shoes & Accessories</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Home, Furniture & Appliances</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Savings & Featured Shops</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Electronics</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Clothing, Shoes & Accessories</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Home, Furniture & Appliances</a>
                                                    </li>
                                                </ul>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sub-menu__column">
                                        <!-- menucolum 1.1 -->
                                       
                                        <div class="menu-column">
                                            <div class="menu-column__icon">
                                                <img src="./asset/img/icon2.svg" alt="" class="menu-column__icon1">
        
                                            </div>
                                            <div class="menu-column__content">
                                                <h2 class="menu-column__heading">All Departments</h2>
                                                
                                                <ul class="menu-column__list">
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Savings & Featured Shops</a>
                                                
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Electronics</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Clothing, Shoes & Accessories</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Home, Furniture & Appliances</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Savings & Featured Shops</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Electronics</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Clothing, Shoes & Accessories</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Home, Furniture & Appliances</a>
                                                    </li>
                                                </ul>
                                                
                                            </div>
                                        </div>
                                        <div class="menu-column">
                                            <div class="menu-column__icon">
                                                <img src="./asset/img/icon2.svg" alt="" class="menu-column__icon1">
        
                                            </div>
                                            <div class="menu-column__content">
                                                <h2 class="menu-column__heading">All Departments</h2>
                                                
                                                <ul class="menu-column__list">
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Savings & Featured Shops</a>
                                                
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Electronics</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Clothing, Shoes & Accessories</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Home, Furniture & Appliances</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Savings & Featured Shops</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Electronics</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Clothing, Shoes & Accessories</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Home, Furniture & Appliances</a>
                                                    </li>
                                                </ul>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sub-menu__column">
                                        <!-- menucolum 1.1 -->
                                       
                                        <div class="menu-column">
                                            <div class="menu-column__icon">
                                                <img src="./asset/img/icon2.svg" alt="" class="menu-column__icon1">
        
                                            </div>
                                            <div class="menu-column__content">
                                                <h2 class="menu-column__heading">All Departments</h2>
                                                
                                                <ul class="menu-column__list">
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Savings & Featured Shops</a>
                                                
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Electronics</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Clothing, Shoes & Accessories</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Home, Furniture & Appliances</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Savings & Featured Shops</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Electronics</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Clothing, Shoes & Accessories</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Home, Furniture & Appliances</a>
                                                    </li>
                                                </ul>
                                                
                                            </div>
                                        </div>
                                        <div class="menu-column">
                                            <div class="menu-column__icon">
                                                <img src="./asset/img/icon2.svg" alt="" class="menu-column__icon1">
        
                                            </div>
                                            <div class="menu-column__content">
                                                <h2 class="menu-column__heading">All Departments</h2>
                                                
                                                <ul class="menu-column__list">
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Savings & Featured Shops</a>
                                                
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Electronics</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Clothing, Shoes & Accessories</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Home, Furniture & Appliances</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Savings & Featured Shops</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Electronics</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Clothing, Shoes & Accessories</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!" class="menu-column__link">Home, Furniture & Appliances</a>
                                                    </li>
                                                </ul>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-column__item">
                                <a href="#!" class="menu-column__link">Electronics</a>
                            </li>
                            <li class="menu-column__item">
                                <a href="#!" class="menu-column__link">Clothing, Shoes & Accessories</a>
                            </li>
                            <li class="menu-column__item">
                                <a href="#!" class="menu-column__link">Home, Furniture & Appliances</a>
                            </li>
                            <li class="menu-column__item">
                                <a href="#!" class="menu-column__link">Savings & Featured Shops</a>
                            </li>
                            <li class="menu-column__item">
                                <a href="#!" class="menu-column__link">Electronics</a>
                            </li>
                            <li class="menu-column__item">
                                <a href="#!" class="menu-column__link">Clothing, Shoes & Accessories</a>
                            </li>
                            <li class="menu-column__item">
                                <a href="#!" class="menu-column__link">Home, Furniture & Appliances</a>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="slideshow">
    <div class="slideshow__inner">
        <div class="slideshow__item">
            <img src="./asset/img/sleshow.svg.svg" alt="" class="slideshow__img">
        </div>
    </div>

</div>
