.auth{
    min-height: 100vh;
    display:flex;
    &__intro, &__content{
        flex:1;
    }
    &__intro{
        display:flex;
        // giúp cho display:flex k bị ngang
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    &__intro-text{
        max-width: 412px;
// căn giữa chữ 
        text-align: center;
        font-size: 1.8rem;
font-weight: 500;
line-height:  144.444% ; /* 144.444% */
    }
    &__content{
        background: #fff;
        margin: 0 auto;
        // tránh thanh cuộn ngang
        &-inner{
            display:flex;
            flex-direction: column;
            align-items: center;
           text-align: center;
            margin: 0 auto;
            width: min(460px, 100%);
        }
    }
    &__heading{
        margin-top: 50px;
        font-size: 3rem;
font-weight: 500;
line-height: 146.667%; /* 146.667% */
    }
    &__desc{
       margin-top: 10px;
font-size: 15px;
font-weight: 500;
line-height:  146.667%; /* 146.667% */
padding:0  30px;
    }
    &__form{
        width: 100%;
        margin-top: 60px;
    }
    &__btn-group{
        margin-top: 50px;

    }
    &__btn{
        width: 100%;
        margin-top: 10px;
        background: #db7909;
    }
    &__text{
        margin-top: 108px;
    }
    &__link{
        color:blue;
        margin-left: 10px;
    }
}