html {
    --text-color:#1a162e;
    --icon-color:  brightness(0) saturate(100%) invert(9%) sepia(36%) saturate(789%) hue-rotate(210deg) brightness(100%) contrast(101%);
    --heder-bg-color:#eee;
    --body-gb:#f6f6f6;
    --top-act-group-bg-color:#fff;
    --top-act-group-shadow:rgba(237, 237, 246, 0.20);
    --top-act-group-separate:#EDEDF6;
    //dropdow
    --dropdown-bg-color:#fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.40);
}