// fiter button
.filter-btn{
    display:flex;
    align-items: center;
    gap: 14px;
    height: 36px;
    font-size: 1.4rem;
    border-radius: 6px;
    padding: 0 14px;
background: #FFF;

font-weight: 700;
line-height: 142.857%; /* 142.857% */
    
}
// like btn
.like-btn{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 50px;
height: 50px;
border-radius: 50%;
box-shadow: 0px 20px 60px rgba(124, 124, 124, 0.20);

}
.btn{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 46px;
    padding: 0 20px;
    border-radius: 6px;
    font-size: 1.8rem;
    font-weight: 500;
    user-select: none;
    width: 100%;
    border:1px solid ;
    background: #db7909;
}